body {
  color: #fff;
  background-color: rgb(23, 20, 43);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5); /* Sombra del texto */
  font-size: 55px;
}

img {
  width: 12rem;
}

.navbar {
  background-color: rgb(38, 33, 72) !important;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #fff;
}
.navbar-brand:hover {
  color: #8a8a8a;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(
    to bottom,
    #1e1a37,
    #242044,
    #382e67,
    #564a8c,
    #56478c
  );
}
.container,
a {
  color: #ccc;
}

a:hover {
  color: white;
}

.footer {
  background-color: rgb(38, 33, 72);
}

.text-muted {
  color: #ccc;
}

#about {
  background-color: rgb(50, 43, 94);
}

.form-control ::placeholder {
  background-color: rgb(38, 33, 72);
}

.custom-select {
  color: #ffffff;
  background-color: rgb(50, 43, 94);
  border-color: #ffffff;
}

.custom-select:focus {
  border-color: #222;
  box-shadow: 0 0 0 0.2rem rgba(8, 9, 9, 0.25);
}

.custom-select option {
  color: #ffffff;
  background-color: rgb(23, 20, 43);
}

.alert {
  margin-top: 10px;
}

.spinner-border {
  margin-top: 20px;
}

.card {
  background-color: rgb(50, 43, 94);
  border: 2px solid gray;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card-title {
  color: #fff;
}

.card-text {
  color: #fff;
}

.pagination {
  margin-top: 20px;
}

.page-link {
  background-color: rgb(50, 43, 94);
  color: #fff;
}

.page-link:hover {
  background-color: rgb(38, 33, 72);
}

.page-item.disabled .page-link {
  opacity: 0.5;
}

.page-item.active .page-link {
  background-color: rgb(23, 20, 43);
  border-color: #555;
}

.icon {
  margin-right: 5px;
}
